<nav class="flex p-5 bg-footerbg text-white shadow items-center justify-between">
  <div class="flex items-center space-x-3">
    <a [routerLink]="['/']" class="flex items-center">
      <img src="../../../assets/icons/Coelho (1)-cropped.svg" class="h-20 w-auto overflow-clip mr-2" alt="Logo" />
      <div class="flex flex-col">
        <h2 class="text-1xl font-arcade">Otaku</h2>
        <h2 class="text-1xl font-arcade">Lounge</h2>
      </div>
    </a>
  </div>

  <ul class="md:flex space-x-10 hidden">
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="text-primary"
        [routerLinkActiveOptions]="{exact: true}"
        class="text-l hover:text-primary transition-all duration-500"
      >Home</a>
    </li>
    <li>
      <a
        [routerLink]="['/anime']"
        routerLinkActive="text-primary"
        class="text-l hover:text-primary transition-all duration-500"
      >Animes</a>
    </li>
    <li>
      <a
        [routerLink]="['/filme']"
        routerLinkActive="text-primary"
        class="text-l hover:text-primary transition-all duration-500"
      >Filmes</a>
    </li>
  </ul>

  <div class="flex items-center space-x-4">
    <button class="text-2xl" (click)="openSearchModal()">
      <ion-icon name="search" class="hover:text-primary transition-all duration-500"></ion-icon>
    </button>
    <a href="https://github.com/AllanRDS/OtakuLounge" target="_blank" class="text-2xl">
      <ion-icon name="logo-github" class="hover:text-primary transition-all duration-500"></ion-icon>
    </a>
    <span (click)="toggleMenu()" class="text-3xl cursor-pointer md:hidden block">
      <ion-icon *ngIf="!isMenuVisible" name="menu"></ion-icon>
      <ion-icon *ngIf="isMenuVisible" name="close"></ion-icon>
    </span>
  </div>
</nav>

<div *ngIf="isMenuVisible" class="md:hidden transition-all bg-footerbg p-5 space-y-4 text-white text-xl">
  <ul>
    <li class="mb-3">
      <a
        [routerLink]="['/']"
        routerLinkActive="text-primary"
        [routerLinkActiveOptions]="{exact: true}"
        class="hover:text-primary"
      >Home</a>
    </li>
    <li>
      <a
        [routerLink]="['/anime']"
        routerLinkActive="text-primary"
        class="text-l hover:text-primary transition-all duration-500"
      >Animes</a>
    </li>
    <li>
      <a
        [routerLink]="['/filme']"
        routerLinkActive="text-primary"
        class="text-l hover:text-primary transition-all duration-500"
      >Filmes</a>
    </li>
  </ul>
</div>